:root {
    --loehr-anthrazit: #354b54;
    --loehr-physio-geld: #fdd188;
    --loeht-heiler-blau: #bed7e6;
}


@font-face {
    font-family: 'loehr-font';
    src: url('../fonts/moderat.otf');
}

@font-face {
    font-family: 'loehr-font';
    src: url('../fonts/moderat_bold.otf');
    font-weight: bold;
  } 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* color: black; */
    color: var(--loehr-anthrazit);
    font-family: 'loehr-font', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    /* margin: 10px; */
    font-size: 21px;
    width: 100%;
}


header{
    padding-top: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}

footer {
    display: grid;
    grid-gap: 30px;
    width: 100%;
    height: 30vh; 
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, 1fr);
    background-color:  #f2f2f2;
    text-align: center;
    align-items: center;
}

footer img {
    grid-column: span 2;
    grid-row: 2;
}

footer p {
    grid-column: span 2;
    grid-row: 3;
}

footer a {
    grid-row: 4;
}

nav {
    display: flex;
    flex-flow: column;
    position: absolute; 
    text-align: center;
    width: 100%;
    top: 100%;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav a {
    color: white;
    background-color: var(--loehr-anthrazit);
    /* font-size: 1.2em; */
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    padding: 10px;
}

section {
    min-height:91vh;
    display: grid;
    padding-top: 78px;
    justify-items: center;
    align-items: center;
}

img {
    width: 100%;
}

h2 {
    padding-bottom: 100px;
} 


.nav-logo {
    display: none;
}

.nav-logo-hidden {
    display: none;
}

.logo {
    display: none;
}

nav a:hover {
    color: black;
    background-color: white;
}

.nav-toggle {
    display: none;
}


.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
} 

.menu:hover {
    filter: opacity(50%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.contact {
    display: none;
}


.main-logo {
    padding-top: 100px;
    min-height:  90vh;
}

.main-logo img{
    display: block;
    height: 40vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.main-logo .title {
    height: 30vh;
    margin: auto;
    width: 300px;
}

.main-logo h1 {
    margin-left: -5px;
    font-size: 150px;
    line-height: 0.8em;
}

.main-logo h2 {
    font-size: 45px;
}

.main-logo .text {
    display: block;
    text-align: center;
}

.main-logo .text *{
    margin-top: 20px;
}


.card img {
    transition: all 0.3s ease 0s;
}

.card p {
    position: absolute;
    padding: 20px; 
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.card:hover img {
    opacity: 25%;
}

.card:hover p {
    opacity: 1; 
}


@media(min-width: 1000px) {
    .menu {
        display: none;
    }

    h2, img, section {
        padding-bottom: 0;
    }

    .nav-logo {
        display: flex;
        flex: 1;
        opacity: 1;
        animation: anim-in 400ms ease-in;
    }

    .nav-logo-hidden {
        display: flex;
        flex: .000001;
        animation: anim-out 400ms ease-out;
    }

    @keyframes anim-out {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(0);
        } 
    }


    @keyframes anim-in {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    header {
       display: grid; 
       grid-template-columns: 1fr minmax(800px, 1fr) 1fr;
    }

    nav {
        all: unset;
        grid-column: 2/3;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        z-index: 999;
    }

    nav a {
        all:unset;
        color: var(--loehr-anthrazit);
        opacity: 1;
        flex:1;
        overflow: hidden;
        transition: flex 400ms;
    }

    nav a:hover {
        cursor: pointer;
        background-color: white;
    }

    .nav-scroll {
        background-color: #f2f2f2;
    }   

    .nav-scroll a:hover {
        background-color: #f2f2f2;  
    }

    nav a::after {
        content: "";
        display: block;
        height: 5px;
        background: var(--loehr-anthrazit);
        /* position: absolut; */
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 300ms;
    }

    nav a:hover::after {
        transform: scale(1,1);
    }

    .contact {
        position: relative;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        /* grid-template-rows: auto; */
        justify-content: center;
        align-content: center;
    }
    
    .contact a {
        color: black;
    }

    .contact label {
        padding: 15px;
    }

    .contact label:hover {
        cursor: pointer;
        filter: opacity(50%);
    }

    .contact-content {
        position: absolute;
        left:0;
        right:0;
        top: 100%;
    }

    .phone-label {
        user-select: none;
        grid-column-start: 4;
    }
    .email-label {
        user-select: none;
    }

    .phone-number {
        display: none;
    }

    .email-address {
        display: none;
    }


    .phone-toggle {
        display: none;
    }

    .email-toggle {
        display: none;
    }

    .phone-toggle:checked ~ .contact-content .phone-number {
        display: block;
    }

    .phone-toggle:checked ~ .contact-content .email-address {
        display: none;
    }

    .email-toggle:checked ~ .contact-content .email-address {
        display: block;
    }

    .email-toggle:checked ~ .contact-content .phone-number {
        display: none;
    }


    section {
        display: grid;
        grid-template-columns:1fr repeat(12, 1fr) 1fr;
        grid-row-gap: 0px;
        grid-column-gap: 50px;
    }

    h2{
        display: flex;
        grid-column: 2/span 12;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    /* .main-logo h1 {
        font-size: 100px;
    } */

    .praxis {
        align-items: start;
    }

    .praxis img{
        grid-column: 2/span 6;
        grid-row: 2;
        width: 100%;
    }

    .praxis p{
        grid-column: 8/span 6;
        grid-row: 2;
        width: 100%;
    }

    .cards {
        grid-column: 2/span 12;
        display: grid;
        /* height: 60vh; */
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 50px;
    }

    .card {
        grid-column-end: span 4;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* transition: all 0.3s ease 0s; */
        position: relative;   
    }

    /* .top {
        grid-column: 2 / span 12;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center; 
        align-items: center;
        background-color: var(--loehr-physio-geld);
        background-size: 100% 100%;
    }

    .top h2 {
        color: white;
        font-size: 50px;
    } */

    .anwendungen h2 {
        background-color: var(--loehr-physio-geld);
    }


    .anwendungen div {
        grid-column: 2/ span 12;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 100px; */
        text-align: center;
        align-items: center;
    }

    .anwendungen div h3 {
        color: white;
    }

    .anwendungen div a {
        display: flex;
        color: white;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--loehr-anthrazit);
        /* border: solid 5px white; */
    }

    .anwendungen div a:hover {
        opacity: 50%;
    }

    .physiotherapie {
        /* min-height:60vh; */
        grid-column: 2 / span 12;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
        align-items: start;
        grid-gap: 0;
    }

    .physiotherapie h1{
        grid-row: 2;
        grid-column: 2 / span 12;
    }

    .physiotherapie .content {
        grid-row: 3;
        grid-column: 3/span 5;
    }

    .physiotherapie .content ul {
        padding-left: 50px;
    }

    .physiotherapie ul {
        grid-row: 3;
        grid-column: 8 / span 5;
    }

    .map {
        grid-column: 2/ span 12;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        /* background-color: var(--loehr-physio-geld); */
    }

    /* .map .heading {
        /* grid-column: 1/ span 14;*/
        width: 100%; 
        text-align: center;
        background-color: var(--loehr-anthrazit);
        color: white;
    } */

    .map .karte{
        /* grid-column: 2/ span 5; */
        width: 80%;
        height: 100%;
        
    }
    
    .karte iframe {
        width: 80%;
        height: 42vh;
        border: none
    }

    .map .text {
        /* padding: 0 50px; */
        /* grid-column: 6/ span 12; */
        width: 100%;
        height: 100%;
        /* background-color: var(--loehr-anthrazit); */
    }

    /* .map .text p {
        color: white;
    } */

    /* .map div {
        /* padding-top: 50%; */
    /* } */ 

    .datenschutz {  
        all: unset;
        min-height:90vh;
        display: block;
        padding-top: 100px;
        font-family: 'loehr-font', sans-serif;
        font-size: 21px;
        margin-left: 20%;
        margin-right: 20%;
        counter-reset: h4counter;
    }

    .datenschutz * {
        /* text-align: center; */
        color: unset;
        list-style-position: inside;
    }   

    .datenschutz h1 {
        /* color: black; */
        padding-bottom: 2em;
        padding-top: 2em;
        text-align: center;
    }

    .datenschutz h4 {
        padding-top: 3em;
    }

    .datenschutz h4:before {
        content: counter(h4counter) ".\0000a0\0000a0";
        counter-increment: h4counter;
    }

    .datenschutz p {
        padding-top: 1em;
    }


}
