@font-face {
    font-family: 'loehr-font';
    src: url('../fonts/moderat.otf');
}

@font-face {
    font-family: 'loehr-font';
    src: url('../fonts/moderat_bold.otf');
    font-weight: bold;
  } 

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 21px;
    font-family: 'loehr-font', sans-serif;
}

.main-logo {
    text-align: center;
}


header{
    position: fixed;
    text-align: center;
    width: 100%;
}

nav {
    display: flex;
    flex-flow: column;
    position: absolute; 
    text-align: center;
    width: 100%;
    top: 100%;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav a {
    color: white;
    background-color: black;
    text-decoration: none;
    /* font-size: 1.2em; */
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    padding: 10px;
}

.logo {
    display: none;
}

nav a:hover {
    color: black;
    background-color: white;
}

.nav-toggle {
    display: none;
}


.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
} 

.menu:hover {
    filter: opacity(50%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

main {
    display: grid;
    height: 2000px;
    place-content: center;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


@media screen and (min-width: 800px) {
    .menu {
        display: none;
    }

    .nav-logo {
        /* display: block; */
        animation: anim-in 400ms ease-in-out;
    }

    .nav-logo-hidden {
        animation: anim-out 400ms ease-in-out;
    }

    @keyframes anim-out {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        } 
    }


    @keyframes anim-in {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }


    header {
       display: grid; 
       grid-template-columns: 1fr minmax(800px, 1fr) 1fr;
    }

    nav {
        all: unset;
        display: grid;
        /* grid-template-columns: auto auto  auto auto; */
        grid-column: 2/3;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: center;
    }

    nav a {
        position: relative;
        color: black;
        opacity: 1;
    }

    nav a{
        all:unset;
    }

    nav a::after {
        content: "";
        display: block;
        height: 5px;
        background: black;
        position: absolut;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 300ms;
    }

    nav a:hover::after {
        transform: scale(1,1);
    }

}