@font-face {
    font-family: 'loehr-font';
    src: url('../fonts/moderat.otf');
}

@font-face {
    font-family: 'loehr-font';
    src: url('../fonts/moderat_bold.otf');
    font-weight: bold;
  } 

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 21px;
    font-family: 'loehr-font', sans-serif;
}


section {
    padding-top: 150px;
    text-align: center;
}


img {
    padding: 20px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

p {
    margin: 0px;
    padding: 20px 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


header{
    padding-top: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}

nav {
    display: flex;
    flex-flow: column;
    position: absolute; 
    text-align: center;
    width: 100%;
    top: 100%;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav a {
    color: white;
    background-color: black;
    text-decoration: none;
    /* font-size: 1.2em; */
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    padding: 10px;
}

.nav-logo {
    display: none;
}

.nav-logo-hidden {
    display: none;
}

.logo {
    display: none;
}

nav a:hover {
    color: black;
    background-color: white;
}

.nav-toggle {
    display: none;
}


.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
} 

.menu:hover {
    filter: opacity(50%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.contact {
    display: none;
}


.main-logo {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.main-logo img {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main-logo h1 {
    margin:0;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
}

.main-logo a {
    margin-top: 50px;
    margin-bottom: 500px;
    color: black;   
    display: block;
    text-align: center;

}



@media(min-width: 1000px) {
    .menu {
        display: none;
    }

    .nav-logo {
        display: flex;
        flex: 1;
        opacity: 1;
        animation: anim-in 400ms ease-in;
    }

    .nav-logo-hidden {
        display: flex;
        flex: .000001;
        animation: anim-out 400ms ease-out;
    }

    @keyframes anim-out {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(0);
        } 
    }


    @keyframes anim-in {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }


    header {
       display: grid; 
       grid-template-columns: 1fr minmax(800px, 1fr) 1fr;
    }

    nav {
        all: unset;
        grid-column: 2/3;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;


    }

    nav a {
        all:unset;
        /* position: relative; */
        color: black;
        opacity: 1;
        flex:1;
        overflow: hidden;
        transition: flex 400ms;
    }

    nav a:hover {
        cursor: pointer;
        background-color: #f2f2f2;
    }

    nav a::after {
        content: "";
        display: block;
        height: 5px;
        background: black;
        position: absolut;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 300ms;
    }

    nav a:hover::after {
        transform: scale(1,1);
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto auto;
        justify-content: center;
    }
    
    .contact a {
        color: black;
    }

    .contact label {
        padding: 15px;
    }

    .contact label:hover {
        cursor: pointer;
        filter: opacity(50%);
    }

    .contact-content {
        position: relative;
        grid-row: 2;
        grid-column: 1;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-content p {
        margin: 0;
        min-width: 500px;
        position: absolute;
    }

    .phone-label {
        user-select: none;
        grid-column-start: 4;
    }
    .email-label {
        user-select: none;
    }

    .phone-number {
        display: none;
    }

    .email-address {
        display: none;
    }


    .phone-toggle {
        display: none;
    }

    .email-toggle {
        display: none;
    }

    .phone-toggle:checked ~ .contact-content .phone-number {
        display: block;
    }

    .phone-toggle:checked ~ .contact-content .email-address {
        display: none;
    }

    .email-toggle:checked ~ .contact-content .email-address {
        display: block;
    }

    .email-toggle:checked ~ .contact-content .phone-number {
        display: none;
    }

    section {
        min-height:700px;
        display: grid;
        grid-template-columns: 1fr, auto auto, 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        align-items: center;
    }


    .main-logo {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .section-a h2{
        grid-column: 2/4;
    }
    .section-a img{
        grid-column: 2;
    }







}