<nav class="nav-main">
    <div class="logo">LP</div>
    <ul>
        <li><a href="/" class="nav-item">Home</a></li>
        <li>
            <a href="#" class="nav-item">Praxis</a>
            <div class="nav-content">
                <div class="nav-sub">
                    <ul>
                        <li><a href="/philosophie/" class="nav-item">Philosophie</a></li>
                        <li><a href="/team/" class="nav-item">Team</a></li>
                        <li><a href="/praxisraume/" class="nav-item">Praxisräume</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="nav-item">Anwendungen</a>
            <div class="nav-content">
                <div class="nav-sub">
                    <ul>
                        <li><a href="/physiotherapie" class="nav-item">Physiotherapie</a></li>
                        <li><a href="/wellnessundmassage/" class="nav-item">Wellness und Massage</a></li>
                        <li><a href="/heilpraktikerleistungen/" class="nav-item">Heilpraktiker Leistungen</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="/kontakt/" class="nav-item">Kontakt</a></li>
        <li><a href="/impressum/" class="nav-item">Impressum</a></li>
        <li><a href="/datenschutz/" class="nav-item">Datenschutz</a></li>
    </ul>    
</nav>