<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Loehr-Physiotherapie</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            {% include nav.html %}
        </header>
        <main>
            <section class="main-logo">
                <img src="logo/Loehr_Signet_RGB_BLACK.png" alt="Logo" >
                <h1 class="main-logo-text editable">Löhr Physiotherapie</h1>
                <a href="#praxis"><i class="material-icons" style="font-size:40px;">keyboard_arrow_down</i></a>
            </section>
            {{content}}
        </main>

        <script type="text/javascript" src="js/main.js"></script>

    </body>
</html>