<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Loehr-Physiotherapie</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <!-- <h1>Loehr-Physiotherapie</h1> -->
            {% include nav.html %}
        </header>
        <main>
            <section class="main-logo">
                <img src="logo/Loehr_Signet_RGB_BLACK.png" alt="Logo" >
                <h1 class="main-logo-text">Löhr Physiotherapie</h1>
                <a href="#section-a "><i class="material-icons" style="font-size:40px;">keyboard_arrow_down</i></a>
            </section>
            <section id="section-a">
                <h2>Diese Seite ist unter Bearbeitung</h2>
            </section>
        </main>
        <footer>

        </footer>

        <script>

            const header = document.querySelector("header");
            const mainLogo = document.querySelector(".main-logo");
            const navLogo = document.querySelector(".nav-logo");
            
            const config = 
            {
                // rootMargin: "-100000px 0px 0px 0px",
                threshold: "0.5"
            };
            
            observer = new IntersectionObserver((entries) => {
                console.log(entries)
                if(! (entries[0].isIntersecting ))
                {   
                    mainLogo.style.opacity = 0.5;
                    navLogo.classList.add("nav-logo");
                    navLogo.classList.remove("nav-logo-hidden");
                    header.classList.add("nav-scroll")
                }
                else
                {
                    mainLogo.style.opacity = 1;
                    navLogo.classList.add("nav-logo-hidden");
                    navLogo.classList.remove("nav-logo");
                    header.classList.remove("nav-scroll")
                }
            }, config)
            
            observer.observe(mainLogo);

            $('.contact-check').on('change', function() {
                $('.contact-check').not(this).prop('checked', false);  
            });

        </script>

    </body>
</html>