<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loehr-Physiotherapie</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/mobile.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/desktop.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <header>
        {% include global_nav.html %}
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        <img src="{{site.baseurl}}/logo/Loehr_Signet_RGB_ANTHRAZIT.png" alt="Logo"
            style="width:auto ;height:100px; margin-left: auto; margin-right: auto;">
        <p>© 2020 by Löhr-Physiotherapie</p>
        <a href="/datenschutz" style="justify-self: end;">Datenschutz</a>
        <a href="/impressum" style="justify-self: start;">Impressum</a>
    </footer>

    <script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>

</body>

</html>